---
import { format } from "date-fns";

import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Spacer from "../../components/Spacer.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => a.data.date.valueOf() - b.data.date.valueOf())
  .reverse();
---

<BaseLayout>
  <section>
    <h1 class="text-6xl font-bold">Blog posts</h1>

    <Spacer size="medium" />

    <ul class="flex flex-col">
      {
        posts.map((post) => (
          <li class="w-fit">
            <a href={`/blog/${post.slug}`} class="text-2xl hover:text-cyan-600">
              <div>
                <h3>{post.data.title}</h3>
                <p class="text-base">{post.data.subtitle}</p>
                <p class="text-sm">
                  <time datetime={post.data.date.toString()} class="mb-1 text-s">
                    {format(post.data.date, "LLLL d, yyyy")}
                  </time>
                </p>
              </div>
            </a>

            <Spacer size="medium" />
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
