---
const linkClass = "hover:text-cyan-600 decoration-cyan-600 underline-offset-4 decoration-2";
---

<nav class="flex px-4 py-8 space-x-2 text-lg md:px-16">
  <a href="/" class={Astro.url.pathname === "/" ? `${linkClass} underline` : linkClass}>Home</a>
  <a
    href="/blog"
    class={Astro.url.pathname.startsWith("/blog") ? `${linkClass} underline` : linkClass}
  >
    Blog
  </a>
</nav>
