---
import "@fontsource/inter";

import BaseHead from "../components/BaseHead.astro";
import Navigation from "../components/Navigation.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Navigation />

    <main class="flex flex-col min-h-screen px-4 md:px-16">
      <slot />
    </main>
  </body>
</html>
